New Unity Project/Temp/
New Unity Project/New Unity Project.sln
New Unity Project/.vscode/settings.json
New Unity Project/Assets/Tiny RPG Forest.meta
New Unity Project/Assets/Tiny RPG Forest/
New Unity Project/Library/
New Unity Project/Logs/
New Unity Project/Packages/
New Unity Project/Assembly-CSharp.csproj
New Unity Project/Assets/movimiento.cs.meta
New Unity Project/ProjectSettings/
New Unity Project/obj/
New Unity Project/Assets/8c9de5152377350abbf7aeceb1fbef23.meta
New Unity Project/Assets/New Animator Controller.controller.meta
New Unity Project/Assets/New Animator Controller.controller
New Unity Project/Assets/SavedFiles.cs.meta
New Unity Project/Assets/bush.prefab
New Unity Project/Assets/bush.prefab.meta
New Unity Project/Assets/BossFollow.cs.meta
New Unity Project/Assets/CheckPoint.cs.meta
New Unity Project/Assets/CheckPoints.cs.meta
New Unity Project/Assets/FBoss.cs.meta
New Unity Project/Assets/Monkey.cs.meta
New Unity Project/Assets/PlayerPos.cs.meta
New Unity Project/Assets/sign.prefab
New Unity Project/Assets/sign.prefab.meta
New Unity Project/Assets/anims.meta
New Unity Project/Assets/Box.prefab.meta
New Unity Project/Assets/Box.prefab
New Unity Project/Assets/LUCY_SHADOW02.png.meta
New Unity Project/Assets/Scenes 1.meta
New Unity Project/Assets/Lucy.controller
New Unity Project/Assets/Lucy.controller.meta
New Unity Project/Assets/Lucy.prefab
New Unity Project/Assets/Sprites.meta
New Unity Project/Assets/Scenes 1/SampleScene.unity.meta
New Unity Project/Assets/Scenes 1/
New Unity Project/Assets/anims/
New Unity Project/Assets/Sprites/
New Unity Project/Assets/Lucy.prefab
New Unity Project/Assets/LUCY_SHADOW02.png
