.autogit
.vs/
*.meta
Logs/
obj/
Library/
ProjectSettings/
Temp/
Packages/
Assets/Sounds
Assets/
Assets/Sprites
Assets/UI
Assets/2D-RP
Assets/Animations
Assets/Escenario
Assets/Escenario_Ensamble
Assets/Prefabs
Assets/Scenes
Assets/Scripts/hooks
Assets/Scripts/info
Assets/Scripts/objects
Assets/Scripts/refs
Assembly-CSharp.csproj
