.autogit
.vs/
*.meta
Logs/
obj/
Library/
ProjectSettings/
Temp/
Packages/
Assets/Sounds
Assets/Sprites
Assets/UI
Assets/2D-RP
Assets/Animations
Assets/Escenario
Assets/Escenario_Ensamble
Assets/Prefabs
Assets/Scenes
Assembly-CSharp.csproj
